body.dark {
  background-color: #353535;
  nav {
    background-color: $dark-theme-main;
    .link {
      color: #fff;
    }
    .link.active {
      color: $main;
    }
  }
  .logo {
    span {
      &:nth-child(1) {
        color: #fff;
      }
    }
  }
  .cardHome {
    background: $dark-card;
    h1 {
      color: #fff;
    }
    .btn {
      background-color: $main;
      &:hover {
        border-color: #fff;
        background-color: #fff;
        color: $main;
      }
    }
  }
  footer {
    background-color: $dark-theme-main;
    .linkGroup {
      h2 {
        color: #fff;
      }
      ul {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
  @media (max-width: 901px) {
    .ls {
      background-color: $dark-theme-main;
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }
  .copyInner {
    color: #fff;
  }
  .homeCard {
    h1 {
      color: #fff;
    }
    .card {
      background-color: $dark-card;
      h2 {
        color: #fff;
      }
    }
  }
  .formCard {
    background-color: $dark-card;
    h2 {
      color: #fff;
    }
  }
  .input {
    span {
      color: $main;
    }
    input,
    select,
    textarea {
      background-color: #373737;
      color: #fff;
      &::placeholder {
        color: #fff;
      }
    }
  }
  .btn {
    background-color: $main;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: $main;
    }
  }
  .timer{
    span{
      color: #fff;
      span{
        color: $main;
      }
    }
  }
  .c{
    background-color: $dark-card;
    h3{
      color: #fff;
    }
  }
  .btn3 {
    &:hover {
      background-color: $main;
      color: #fff;
    }
  }
}
