@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
body.dark {
  background-color: #353535;
}
body.dark nav {
  background-color: #1c1c1c;
}
body.dark nav .link {
  color: #fff;
}
body.dark nav .link.active {
  color: #e70101;
}
body.dark .logo span:nth-child(1) {
  color: #fff;
}
body.dark .cardHome {
  background: rgba(42, 42, 42, 0.9);
}
body.dark .cardHome h1 {
  color: #fff;
}
body.dark .cardHome .btn {
  background-color: #e70101;
}
body.dark .cardHome .btn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #e70101;
}
body.dark footer {
  background-color: #1c1c1c;
}
body.dark footer .linkGroup h2 {
  color: #fff;
}
body.dark footer .linkGroup ul li a {
  color: #fff;
}
@media (max-width: 901px) {
  body.dark .ls {
    background-color: #1c1c1c;
  }
  body.dark .ls::-webkit-scrollbar {
    width: 0px;
  }
}
body.dark .copyInner {
  color: #fff;
}
body.dark .homeCard h1 {
  color: #fff;
}
body.dark .homeCard .card {
  background-color: rgba(42, 42, 42, 0.9);
}
body.dark .homeCard .card h2 {
  color: #fff;
}
body.dark .formCard {
  background-color: rgba(42, 42, 42, 0.9);
}
body.dark .formCard h2 {
  color: #fff;
}
body.dark .input span {
  color: #e70101;
}
body.dark .input input,
body.dark .input select,
body.dark .input textarea {
  background-color: #373737;
  color: #fff;
}
body.dark .input input::-moz-placeholder, body.dark .input select::-moz-placeholder, body.dark .input textarea::-moz-placeholder {
  color: #fff;
}
body.dark .input input::placeholder,
body.dark .input select::placeholder,
body.dark .input textarea::placeholder {
  color: #fff;
}
body.dark .btn {
  background-color: #e70101;
  color: #fff;
}
body.dark .btn:hover {
  background-color: #fff;
  color: #e70101;
}
body.dark .timer span {
  color: #fff;
}
body.dark .timer span span {
  color: #e70101;
}
body.dark .c {
  background-color: rgba(42, 42, 42, 0.9);
}
body.dark .c h3 {
  color: #fff;
}
body.dark .btn3:hover {
  background-color: #e70101;
  color: #fff;
}
body.dark .alert {
  background-color: rgba(42, 42, 42, 0.9);
}
body.dark .alert p {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", serif;
  color: #1c1c1c;
}

::-moz-selection {
  color: #fff;
  background: #e70101;
}

::selection {
  color: #fff;
  background: #e70101;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #eaeaea;
  direction: rtl;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background: #e70101;
}

@media (max-width: 900px) {
  body::-webkit-scrollbar {
    width: 0px;
  }
}
html {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-left {
  animation: fadeleft 800ms ease forwards;
}

.scrolled.fade-right {
  animation: faderight 800ms ease forwards;
}

.scrolled.fade-top {
  animation: fadetop 800ms ease forwards;
}

.scrolled.fade-btm {
  animation: fadebtm 800ms ease forwards;
}

@keyframes fadeleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadetop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadebtm {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.opacity {
  opacity: 0;
}

/* End Default */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  z-index: 5;
  direction: rtl;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.251);
  background-color: #fff;
}

.box {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
}

.f-s {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  direction: rtl;
}
.logo img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo .logoT {
  display: flex;
  flex-direction: column;
}
.logo .logoT span {
  font-weight: 600;
}
.logo .logoT span:nth-child(1) {
  color: #000;
}
.logo .logoT span:nth-child(2) {
  color: #e70101;
}

.links {
  display: flex;
}

.mainLinks {
  display: flex;
  list-style: none;
}
.mainLinks li button,
.mainLinks li .a {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0 17px;
  height: 80px;
  gap: 5px;
  transition: 0.2s;
  color: #e70101;
  font-size: 1.1em;
  font-weight: 700;
  transition: 0.2s;
}

.link {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 0 17px;
  height: 80px;
  gap: 5px;
  transition: 0.2s;
  color: #000;
  font-size: 1.1em;
  font-weight: 700;
  transition: 0.2s;
}
.link:hover {
  color: #e70101;
}
.link .lang {
  width: 17px;
  height: 17px;
  -o-object-fit: contain;
     object-fit: contain;
}

.link.active {
  color: #e70101;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 35px;
  background-color: #1c1c1c;
  color: #fff;
  border-radius: 7px;
  gap: 10px;
  font-weight: 600;
  transition: 0.3s all ease;
  flex-shrink: 1;
  border: 1px solid transparent;
}
.btn svg g path {
  transition: 0.2s;
}
.btn:hover {
  background-color: transparent;
  color: #e70101;
  border: 1px solid #e70101;
}
.btn:hover i {
  color: #e70101;
}
.btn:hover svg g path {
  fill: #e70101;
}
.btn img {
  width: 20px;
}

.last {
  gap: 20px;
  align-items: center;
  display: none;
}

.menu {
  display: none;
  flex-direction: column;
  position: relative;
  height: 80px;
  width: 35px;
  border: none;
  outline: none;
  background-color: transparent;
}
.menu span {
  height: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: #e70101;
  position: absolute;
  transition: 0.3s;
}
.menu span:nth-child(1) {
  top: 28px;
}
.menu span:nth-child(2) {
  top: 40px;
}
.menu span:nth-child(3) {
  top: 52px;
}

.activeMenu .box .menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 40px;
  background-color: #d11313;
}

.activeMenu .box .menu span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.activeMenu .box .menu span:nth-child(3) {
  transform: rotate(-45deg);
  top: 40px;
  background-color: #d11313;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100vh - 90px);
  width: 100%;
  background-color: #e4e4e4;
  margin-top: 90px;
}

.swInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 90px);
  border-bottom: 5px solid #e70101;
}

.mySwiper2 {
  width: 100%;
  height: 100%;
}
.mySwiper2 .swiper-slide {
  position: relative;
}
.mySwiper2 .swiper-slide img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.mySwiper2 .swiper-pagination-bullet {
  background-color: transparent;
  border-radius: 5px;
  opacity: 1;
  width: 120px;
  height: 80px;
  -o-object-fit: fill;
     object-fit: fill;
  border: 2px solid transparent;
  transition: 0.2s;
}
.mySwiper2 .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid #fff;
}

.next {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  right: 0;
}
.next span {
  border-radius: 25px 0 0 25px;
}

.prev {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  left: 0;
}
.prev span {
  border-radius: 0 25px 25px 0;
}

.next,
.prev {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next span,
.prev span {
  width: 70px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.6352941176);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.next span svg,
.prev span svg {
  width: 18px;
  height: 20px;
}
.next span svg path,
.prev span svg path {
  transition: 0.2s;
}
.next:hover span,
.prev:hover span {
  background-color: #e70101;
}
.next:hover span svg path,
.prev:hover span svg path {
  fill: #fff;
}

@media (max-width: 901px) {
  .last {
    display: flex;
  }
  .menu {
    display: flex;
  }
  .swiper-pagination {
    display: none;
  }
  .ls {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: calc(100vh - 90px);
    overflow-y: scroll;
    top: 90px;
    left: -100%;
    transition: 0.4s;
    background-color: #fff;
    padding: 0 0 50px 0;
  }
  .ls::-webkit-scrollbar {
    width: 0px;
  }
  .mainLinks {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 100%;
    gap: 20px;
  }
  .link {
    margin-right: 5%;
  }
  .link {
    height: 50px;
  }
  .link::after {
    bottom: 0;
  }
  .activeMenu .f-s .links .ls {
    left: 0;
  }
}
@media (max-width: 421px) {
  .next span,
  .prev span {
    width: 60px;
  }
}
/*
@media (max-width: 751px) {
  .home {
    padding: 0;
    height: 400px;
    border-bottom: 3px solid $main;
  }
}
@media (max-width: 551px) {
  .home {
    padding: 0;
    height: 300px;
  }
}
@media (max-width: 351px) {
  .home {
    padding: 0;
    height: 250px;
  }
}*/
main {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  min-height: 70vh;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
}
.section section {
  padding: 50px 0;
}

.who {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.who .imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 350px;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid #e70101;
}
.who .imgCont img,
.who .imgCont video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #e70101;
  border-radius: 5px;
  -o-object-position: center;
     object-position: center;
  transition: 0.2s;
}
.who .imgCont img:hover,
.who .imgCont video:hover {
  scale: 1.08;
}
.who .imgCont video:hover {
  scale: 1;
}

header {
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  padding: 3px 20px;
  background-color: #e70101;
}

.whoText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  direction: rtl;
  width: 600px;
}
.whoText p {
  font-size: 1.1em;
  font-weight: 500;
  padding-top: 10px;
}
.whoText p span {
  color: #e70101;
}
.whoText a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  height: 40px;
  padding: 0 30px;
  color: #e70101;
  border: 1px solid #e70101;
  transition: 0.2s;
  border-radius: 5px;
  font-weight: 600;
}
.whoText a:hover {
  background-color: #e70101;
  color: #fff;
}

.servs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}
.servs .nextBtn,
.servs .prevBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}
.servs .nextBtn span,
.servs .prevBtn span {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 1px solid #ad0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  z-index: 2;
}
.servs .nextBtn span svg,
.servs .prevBtn span svg {
  width: 18px;
  height: 20px;
}
.servs .nextBtn span svg path,
.servs .prevBtn span svg path {
  transition: 0.2s;
}
.servs .nextBtn:hover span,
.servs .prevBtn:hover span {
  background-color: #e70101;
}
.servs .nextBtn:hover span svg path,
.servs .prevBtn:hover span svg path {
  fill: #fff;
}
.servs .nextBtn {
  position: absolute;
  right: -25px;
  top: calc(50% - 20px);
}
@media (max-width: 1350px) {
  .servs .nextBtn {
    right: 20px;
  }
}
@media (max-width: 1000px) {
  .servs .nextBtn {
    display: none;
  }
}
.servs .prevBtn {
  position: absolute;
  left: -25px;
  top: calc(50% - 20px);
}
@media (max-width: 1350px) {
  .servs .prevBtn {
    left: 20px;
  }
}
@media (max-width: 1000px) {
  .servs .prevBtn {
    display: none;
  }
}

.mySwiper {
  width: 100%;
}
.mySwiper .swiper-slide .imgCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.mySwiper .swiper-slide .imgCont h2 {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  padding: 5px 20px;
  background-color: #e70101;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px 0 5px 0;
}
@media (max-width: 500px) {
  .mySwiper .swiper-slide .imgCont {
    width: 100%;
  }
}
.mySwiper .swiper-slide .imgCont img,
.mySwiper .swiper-slide .imgCont video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #e70101;
  border-radius: 10px;
  transition: 0.2s;
}
.mySwiper .swiper-slide .imgCont img:hover,
.mySwiper .swiper-slide .imgCont video:hover {
  scale: 1.08;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 20px;
}

.contt {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.contt iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 2px solid #e70101;
}
.contt form {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 10px;
  border: 1px solid #e70101;
  padding: 50px;
  direction: rtl;
  background-color: #eaeaea;
}
.contt form button {
  width: 120px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  background-color: #e70101;
  border-radius: 7px;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  margin-top: 20px;
  transition: 0.2s;
  border: 0px solid transparent;
}
.contt form button:hover {
  background-color: transparent;
  color: #e70101;
  border: 1px solid #e70101;
}

.twoInput {
  width: 100%;
  display: flex;
  gap: 10px;
}

.halfIn {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.halfIn span {
  font-weight: 700;
}
.halfIn input {
  width: 100%;
  height: 45px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #e70101;
  padding-right: 15px;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.0509803922);
}
.halfIn input::-moz-placeholder {
  color: rgba(0, 125, 194, 0.5);
}
.halfIn input::placeholder {
  color: rgba(0, 125, 194, 0.5);
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.input i {
  position: absolute;
  left: 15px;
  bottom: 13px;
  color: #e70101;
  cursor: pointer;
  font-size: 1.2rem;
}
.input span {
  width: 100%;
  font-weight: 500;
  text-align: right;
  padding-bottom: 7px;
}
.input input,
.input select,
.input textarea {
  width: 100%;
  height: 45px;
  border-radius: 7px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #e70101;
  padding-right: 15px;
  font-size: 1em;
  background-color: #fff;
  text-align: right;
  color: #e70101;
  font-weight: 500;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.input input::-moz-placeholder, .input select::-moz-placeholder, .input textarea::-moz-placeholder {
  color: #e70101;
  font-weight: 400;
}
.input input::placeholder,
.input select::placeholder,
.input textarea::placeholder {
  color: #e70101;
  font-weight: 400;
}
.input textarea {
  height: 90px;
  padding: 5px 15px 0 15px;
  resize: none;
}

@media (max-width: 951px) {
  .who {
    flex-direction: column;
    gap: 30px;
  }
  .whoText {
    width: 100%;
  }
}
@media (max-width: 551px) {
  .section section {
    padding: 20px 0;
  }
  .who .imgCont {
    width: 100%;
    height: 300px;
  }
  .who .imgCont img,
  .who .imgCont video {
    width: 100%;
  }
  .whoText {
    width: 100%;
  }
  .whoText p {
    font-size: 1.1em;
  }
}
@media (max-width: 421px) {
  .who img {
    width: 100%;
  }
  .whoText p {
    font-size: 1em;
  }
  .mySwiper .swiper-slide {
    width: 100%;
    margin: 0 auto;
  }
  .mySwiper .swiper-slide .imgCont {
    margin: 0 auto;
  }
}
.goTop {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
.goTop span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.251);
  cursor: pointer;
  transition: 0.2s;
}
.goTop span i {
  transition: 0.2s;
  font-size: 1.1em;
}
.goTop span:hover {
  background-color: #e70101;
}
.goTop span:hover i {
  color: #fff;
}

.fMedia {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.fMedia a {
  color: #fff;
  transition: 0.2s;
}
.fMedia a:hover {
  color: #2b2b2b;
}

.t {
  padding-top: 10px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.copy span {
  text-align: center;
}
.copy a {
  color: #fff;
  text-align: center;
}

@media (max-width: 1201px) {
  .contt {
    flex-direction: column;
    align-items: center;
  }
  .contt form {
    width: 650px;
  }
}
@media (max-width: 701px) {
  .contt iframe {
    width: 100%;
  }
  .contt form {
    width: 100%;
  }
  .btn {
    padding-top: 10px;
  }
  .whoText a {
    padding-top: 10px;
  }
  .input span {
    padding-top: 5px;
  }
  .halfIn span {
    padding-top: 5px;
  }
  .input textarea {
    padding-top: 10px;
  }
  .contt form button {
    padding-top: 10px;
  }
}
@media (max-width: 501px) {
  .fMedia {
    padding: 0;
  }
  .fMedia a {
    text-align: center;
  }
  .contt iframe {
    width: 100%;
    height: 300px;
  }
  .contt form {
    width: 100%;
    padding: 30px 20px;
  }
}
@media (max-width: 421px) {
  .twoInput {
    flex-direction: column;
  }
  .twoInput .halfIn {
    width: 100%;
  }
}
.headerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  position: relative;
  border-bottom: 7px solid #e70101;
  /*&::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #2b2b2b52;
    backdrop-filter: blur(3px);
  }*/
}
.headerTop .box {
  z-index: 2;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: right;
}
.headerTop .box header {
  font-size: 1.5em;
}
.headerTop img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 655px) {
  .headerTop {
    height: 350px;
  }
}
.w100 {
  width: 100% !important;
}
.w100 p {
  padding-bottom: 20px;
}

.whoInner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 30px 0;
}
.whoInner .box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
  background-color: #e70101;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}

.ci {
  display: flex;
  flex-direction: column;
  justify-content: left;
  direction: rtl;
  gap: 30px;
}

.cInner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.cInner h3 {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
  position: relative;
  color: #e70101;
  gap: 5px;
}
.cInner h3::after {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: #e70101;
}
.cInner p {
  font-size: 1.1em;
  font-weight: 500;
}
.cInner ul {
  list-style: none;
}
.cInner ul li {
  font-size: 1.1em;
  font-weight: 500;
}
.cInner ul li::before {
  content: "- ";
}

.v {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  width: 350px;
}
.v img {
  width: 80px;
  opacity: 0.8;
  left: 0;
}

.cij {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  direction: rtl;
}

@media (max-width: 451px) {
  .cij .cInner {
    width: 100%;
  }
  .cInner h3 {
    font-size: 1.1em;
  }
  .cInner p {
    font-size: 0.9em;
  }
  .whoText p {
    padding-bottom: 10px;
  }
  .v {
    width: 100%;
    justify-content: right;
  }
  .v img {
    width: 70px;
  }
  .v ul li {
    font-size: 0.9em;
  }
  .head {
    font-size: 1.5em;
  }
}
.jj {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 100px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  direction: rtl;
  padding-top: 50px;
  padding-bottom: 50px;
}

.s {
  width: 500px;
  position: relative;
  font-size: 1.2em;
  font-weight: 500;
}
.s::after {
  content: attr(data-num);
  position: absolute;
  top: -85px;
  right: 0;
  font-size: 4em;
  color: #e70101;
  opacity: 0.7;
  z-index: -1;
  font-weight: 700;
}

@media (max-width: 1151px) {
  .s {
    width: 400px;
  }
}
@media (max-width: 901px) {
  .s {
    width: 500px;
  }
}
@media (max-width: 551px) {
  .jj {
    row-gap: 60px;
  }
  .s {
    width: 100%;
  }
  .s::after {
    font-size: 3em;
    top: -60px;
  }
}
@media (max-width: 421px) {
  .jj {
    padding: 0 20px;
    row-gap: 50px;
  }
  .s {
    width: 100%;
    font-size: 0.9em;
  }
  .s::after {
    top: -40px;
    font-size: 2.5em;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
  background-color: #fff;
  height: auto;
  direction: rtl;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerLogo img {
  width: 120px;
}
@media (max-width: 700px) {
  .footerLogo img {
    width: 70px;
  }
}
.footerLogo p {
  padding-top: 20px;
  max-width: 400px;
}

.footerLinkGroup {
  display: flex;
  gap: 100px;
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.linkGroup h2 {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 5px;
  text-transform: uppercase;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
}
.linkGroup h2::after {
  content: "";
  height: 3px;
  margin-top: 3px;
  background-color: #e70101;
  width: 100%;
}
.linkGroup ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
}
.linkGroup ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1em;
  line-height: 1.7;
  text-transform: uppercase;
  transition: 0.3s all ease;
  font-weight: 500;
}
.linkGroup ul li a img {
  width: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
.linkGroup ul li a i {
  font-size: 1.35rem;
  transition: 0.2s all ease;
}

.cont {
  width: 290px;
}
.cont ul li:nth-child(1) a {
  line-height: 1.5;
}
.cont ul li a {
  line-height: 2;
}
.cont ul li a img {
  transform: rotate(0);
  width: 20px;
}

.media {
  display: flex;
  gap: 10px;
  transform: translateY(-10px);
}
.media a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #fff;
  transition: 200ms all ease;
}
.media a i {
  font-size: 1.3em;
  color: #e70101;
  transition: 200ms all ease;
}

@media (max-width: 1001px) {
  .footer {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 601px) {
  .footerLinkGroup {
    flex-direction: column;
    gap: 30px;
  }
  .linkGroup {
    width: 100%;
  }
  .cont {
    width: 100%;
  }
}
@media (max-width: 421px) {
  .footerLogo img {
    width: 100px;
  }
  .footerLogo .aboutText {
    width: 100%;
  }
}
.pr20 {
  padding-right: 20px;
  padding-top: 10px;
}

.steps {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 !important;
}

.step {
  display: flex;
  gap: 10px;
  padding: 15px 20px;
  width: -moz-fit-content;
  width: fit-content;
  flex-grow: 1;
  border-radius: 10px;
  background-color: #e70101;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease;
  cursor: pointer;
}
.step:hover {
  background-color: #ad0d0d;
}
.step i {
  font-size: 1.5rem;
  color: #fff;
}
@media (max-width: 500px) {
  .step i {
    font-size: 1.3rem;
  }
}
.step h2 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}
@media (max-width: 500px) {
  .step h2 {
    font-size: 1rem;
  }
}

.infodata {
  display: flex;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
}
.infodata h1 {
  color: #000;
  font-size: 1.5rem;
  text-align: right;
}
.infodata ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
}
.infodata ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  background-color: #e70101;
  border-radius: 8px;
}
.infodata ul li a {
  color: #fff;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
}
.infodata ul li i {
  font-size: 1.5rem;
  color: #fff;
}
.infodata ul li img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 370px) {
  .last .btn {
    gap: 0;
    padding: 10px 20px;
  }
  .last .btn span {
    display: none;
  }
  .last .btn svg {
    scale: 1.5;
  }
}
.pageBanner {
  height: 400px;
  border-bottom: 5px solid #e70101;
}
.pageBanner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.pageBanner:after {
  display: none;
}
@media (max-width: 800px) {
  .pageBanner {
    height: 300px;
  }
  .pageBanner .cardHome {
    transform: translateY(75px);
    padding: 20px;
  }
  .pageBanner .cardHome h1 {
    font-size: 1.5rem;
  }
  .pageBanner .cardHome p {
    font-size: 1rem;
  }
}

.pageBannerImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.ktx {
  padding-top: 50px;
}
.ktx h1 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  color: #fff;
  max-width: 500px;
  width: 100%;
}
.ktx p {
  max-width: 450px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 700px) {
  .ktx h1 {
    font-size: 1.7rem;
  }
  .ktx p {
    font-size: 1rem;
  }
}
.z2 {
  z-index: 2;
}

.pageBanner .box {
  z-index: 3;
  display: flex;
  justify-content: right;
}

.cardHome {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 9.8px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 30px;
  border-radius: 20px;
  gap: 10px;
  text-align: right;
  transform: translateY(120px);
}
@media (max-width: 700px) {
  .cardHome {
    width: 100%;
  }
}
.cardHome p {
  font-size: 1.2rem;
  color: #e70101;
  width: 300px;
  text-align: right;
  padding-bottom: 10px;
}
@media (max-width: 700px) {
  .cardHome p {
    width: 100%;
  }
}

/* Toggle Container */
.toggle-container {
  direction: ltr;
  position: relative;
  width: 80px;
  height: 34px;
  background: #ddd;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
@media (max-width: 901px) {
  .toggle-container {
    margin-right: 7%;
  }
}

/* Dark Mode Background */
.dark .toggle-container {
  background: #f0f0f0;
}

/* Toggle Circle */
.toggle-circle {
  position: absolute;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: transform 0.3s, background 0.3s;
}
.toggle-circle i {
  color: #e70101;
}

/* Move circle in Dark Mode */
.dark .toggle-circle {
  transform: translateX(45px);
  background: #e70101;
}
.dark .toggle-circle i {
  color: #fff;
}

.copyInner {
  color: #1c1c1c;
  padding-top: 50px;
  font-weight: 600;
  text-align: center;
}
.copyInner span {
  color: #e70101;
  padding: 0 5px;
  display: inline-flex;
}

.homeCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 100px !important;
}
.homeCard h1 {
  padding-bottom: 50px;
  font-size: 2.2rem;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 300px;
  padding: 50px 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.37);
  border: 2px solid #272727;
  text-align: center;
  gap: 10px;
}
@media (max-width: 350px) {
  .card {
    width: 100%;
  }
}
.card p {
  color: #e70101;
}
.card .icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e70101;
  position: absolute;
  top: -37.5px;
}
.card .icon svg {
  height: 40px;
  width: 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.formCard {
  width: 800px;
  background-color: #fff;
  border-radius: 15px;
  padding: 60px;
}
@media (max-width: 850px) {
  .formCard {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .formCard {
    padding: 40px 20px;
  }
}

.min100vh {
  min-height: 100vh;
}

.loginas {
  width: 100%;
  display: flex;
  justify-content: right;
  gap: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.loginas button,
.loginas a {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e70101;
  border: 1px solid #e70101;
  border-radius: 20px;
  height: 35px;
  padding: 0 15px;
  transition: 0.3s all ease;
}
.loginas .active {
  background-color: #e70101;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  gap: 30px;
  padding: 100px 20px 70px 20px;
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}

.timers {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.timer span {
  font-weight: 600;
}
.timer span span {
  color: #e70101;
}

.alert {
  width: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  align-items: flex-start;
}
.alert i {
  font-size: 2rem;
  color: #e70101;
}
.alert h1 {
  display: flex;
  align-items: center;
  color: #e70101;
  gap: 10px;
}
.alert h1 svg {
  width: 40px;
  height: 40px;
}
.alert p {
  padding-top: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}
.alert button {
  margin-top: 20px;
}

.cardscont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px;
  flex-wrap: wrap;
}

.c {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  width: 350px;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
}
.c svg,
.c img {
  width: 100px;
  height: 100px;
}
.c h3 {
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

.cardscont2 .c {
  width: 250px;
  padding: 40px 20px;
}

.btn2 {
  background-color: #e70101;
  color: #fff;
}
.btn2:hover {
  background-color: #fff;
  color: #e70101;
}

.btn3 {
  cursor: pointer;
  white-space: nowrap;
}
.btn3:hover {
  background-color: #e70101;
  color: #fff;
}
.btn3 input {
  width: 17px;
  height: 17px;
}

@media (max-width: 500px) {
  .alert {
    padding: 30px 20px;
  }
  .timer {
    width: 100%;
  }
  .timer span {
    display: flex;
    flex-wrap: wrap;
  }
  .c {
    width: 100%;
    padding: 30px 20px;
  }
}
.c2 {
  width: 270px;
  padding: 30px;
  flex-grow: 0;
}
.c2 img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #e70101;
  -o-object-fit: cover;
     object-fit: cover;
}
.c2 h3 {
  padding-top: 20px;
}

.submitBtn {
  width: -moz-fit-content;
  width: fit-content;
  height: 45px;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 30px;
}

.taIn {
  width: 100%;
  overflow: auto;
}
.taIn::-webkit-scrollbar {
  height: 5px;
}
.taIn::-webkit-scrollbar-track {
  background: #fff;
}
.taIn::-webkit-scrollbar-thumb {
  background: #e70101;
}

.tg {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.tg tbody {
  font-size: 16px;
}
.tg tbody tr td {
  height: 60px;
  padding: 0 10px;
  text-align: center !important;
  vertical-align: middle !important;
  background-color: #fff;
  white-space: nowrap !important;
  font-weight: 500;
}
.tg tbody tr td img {
  vertical-align: middle !important;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 42px;
}
.tg tbody tr td input {
  width: 17px;
  height: 17px;
}
.tg tbody tr td:first-child {
  border-top-right-radius: 20px;
  padding-right: 20px;
}
.tg tbody tr td:last-child {
  border-top-left-radius: 20px;
  padding-left: 20px;
}
.tg tbody tr td:first-child {
  border-bottom-right-radius: 20px;
}
.tg tbody tr td:last-child {
  border-bottom-left-radius: 20px;
}
.tg thead {
  display: none;
}

.tg th {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 20px;
  text-transform: capitalize;
  white-space: nowrap;
}
.tg th input {
  width: 17px;
  height: 17px;
}

@media (max-width: 701px) {
  .tg th {
    padding: 10px 5px;
  }
}
@media (max-width: 451px) {
  .tg th {
    font-size: 14px;
  }
  .tg tbody tr td {
    font-size: 14px;
  }
}
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tools .a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757a89;
  font-size: 1.3em;
}
.tools .a i {
  color: #757a89;
}
.tools i {
  color: #757a89;
}

.mra {
  margin-right: auto;
}

.pending {
  color: #272727;
}

.rejected {
  color: #820000;
}

.approved {
  color: #008223;
}/*# sourceMappingURL=style.css.map */